.optionsContiner{
    margin: 0;
    width: 100px;
    list-style-type: none;
    font-size: 20px;
    height: 100px;
    overflow: scroll;
    background-image: linear-gradient(#fff,#eee,#aaa,#eee,#fff);
}
.listOfOptions, ul, a{
    text-align: center;
    color: black;
    margin: 1px auto;
    padding: 0;
    font-weight: bold;
    text-decoration: none;
}

.listOfOptions ul:nth-child(2){
    font-size: 1.5em;
    border: #aaa solid 1px;
}


.listOfOptions ul:nth-child(1){
    font-size: 1.1em;
    opacity: 0.5;
    transform: rotateX(50deg);
}
.listOfOptions ul:nth-child(3){
    font-size: 1.1em;
    opacity: 0.5;
    transform: rotateX(40deg);
}
.listOfOptions ul:nth-child(n+4){
    font-size: 0.9em;
    opacity: 0.3;
    transform: rotateX(50deg);
}
