/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.options-continer{
  margin: 0;
  width: 100px;
  list-style-type: none;
  font-size: 20px;
  height: 100px;
  overflow: scroll;
  background-image: linear-gradient(#fff,#eee,#aaa,#eee,#fff);
}
.list-of-options, ul, a{
  text-align: center;
  color: black;
  margin: 1px auto;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}

.list-of-options ul:nth-child(2){
  font-size: 1.5em;
  border: #aaa solid 1px;
}


.list-of-options ul:nth-child(1){
  font-size: 1.1em;
  opacity: 0.5;
  transform: rotateX(50deg);
}
.list-of-options ul:nth-child(3){
  font-size: 1.1em;
  opacity: 0.5;
  transform: rotateX(40deg);
}
.list-of-options ul:nth-child(n+4){
  font-size: 0.9em;
  opacity: 0.3;
  transform: rotateX(50deg);
}
