.inputModal{
    height: 0;
    height: 100%;
    width: 100%;
    background-color: #2f36403a;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden; /* Hide scrollbars */
}

.modalCloseButton{
    /* width: calc(100% - 20px); */
    /* margin: 5px 0 0 0; */
    width: 100%;
    height: 40px;
    transition: all 2s;
    border-radius: 10px;
    border-width: 0px;
    font-size: 20px;
    animation: grow 0.2s 0s 1;
}

@keyframes grow {
    0%{
        height:0px
    };
    100%{
        height:100px

    }
}

.optionsContiner{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-size: 20px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    overflow: scroll;
    margin-bottom:-10px
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
.selectedElement{
    position: static;
    top: 25px;
    left: 0;
    color: #000;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    background-image: linear-gradient(rgba(238, 238, 238, 0.699),#ddd,#ddd,#ddd,rgba(238, 238, 238, 0.514));
    border: #aaa solid 0px;
}

.listOfOptions{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}
.listOfOptions, a{
    text-align: center;
    background-color: #fff;
    border: 1px solid #eee;
    color: black;
    padding: 5px 0;
    /* border-radius: 10px; */
    width: 100%;
    font-weight: bold;
    overflow: hidden; /* Hide scrollbars */
    text-decoration: none;
}


.listOfOptions ul:nth-child(1){
    /* margin-top: 25px; */
}
.listOfOptions ul{
    font-size: 1.1em;
    opacity: 0.5;
    transform: rotateX(50deg);
}
.listOfOptions ul{
    font-size: 1.1em;
    opacity: 0.3;
    transform: rotateX(50deg);
}
.listOfOptions ul:last-child{
    margin-bottom: 50px;
}

